.container {
    position: sticky;
    top: 0;
    display: flex;
    border: 2px solid #6b696825;
    border-radius: 6px;
    background: #5a5958;
    text-align: center;
    justify-content: space-evenly;
    box-shadow: 2px 2px 6px;

}

.banner {
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 700;
}


.navlinks {
    display: flex;
    justify-content: space-between;
}

.right {
    margin: 0px 30px;
    margin-bottom: 5px;

}

.left {
    margin: 0px 30px;
    margin-bottom: 5px;

}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    padding: 10px;
}

a:hover {
    background-color: #3938388d;
    border:#3938388d;
    border-radius: 6px;
    transition-duration: 100ms;
}

img {
    padding: 20px 20px;
    margin-bottom: 5px;
    border: transparent;
    border-radius: 25px;
    opacity: 0.4;
}