.book-container {
    display: flex;
    justify-content: space-evenly;
}

.book {
    padding: 20px 25px;
    font-size: large;
    color: white;
    max-width: 180px;
    min-width: 180px;
    word-break: break-all;

  }

  .book-title {
    font-weight: 600;
  }

  .genre {
    font-style: italic;
  }

  button {
    margin: 50px 10px;
    height: 10%;
    align-items: center;
    background-color: #d4180b;
    color: #FCF6F5;
    font-weight: 800;
    border-style: None;
    border-radius: 6px;
    font-size: 32px;
    padding: 10px;
    box-shadow: #000 2px 2px 6px;

  }

  button:hover {
    background-color: #b71b10;
    transition-duration: 100ms;
  }

  .update {
    margin: 50px 10px;
    height: 10%;
    padding: 10px;
    align-items: center;
    background-color: #4986b553;
    color: white;
    font-weight: 800;
    border-style: None;
    border-radius: 6px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: #000 2px 2px 6px;

  }

  .update:hover {
    background-color: #3b688a53;
    transition-duration: 100ms;
  }

