<div class="formcontainer">
    <form (ngSubmit)="onSubmit()">
        <label>
           <input [(ngModel)]="book.title" placeholder="Title" name="title" ngModel required>
        </label>      
        <label>
            <input [(ngModel)]="book.author" placeholder="Author" name="author" required>
        </label>
       
        <label>
            <input [(ngModel)]="book.genre" placeholder="Genre" name="genre" required>
         </label>
         <div class="buttoncontainer">
            <button type="submit">Update</button>
          </div>
       </form>
</div>
