<div>
    <form (ngSubmit)="onSubmit()">
        <label>
           Title:
           <input [(ngModel)]="book.title" name="title" ngModel required>
        </label>
       
        <label>
            Author:
            <input [(ngModel)]="book.author" name="author" required>
        </label>
       
        <label>
            Genre:
            <input [(ngModel)]="book.genre" name="genre" required>
         </label>
       
        <button type="submit">Submit</button>
       </form>
</div>
