<div class="formcontainer">
    <form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)">
        <label >
           <input placeholder="Title" name="title" ngModel required>
        </label>      
        <label>
           <input placeholder="Author" name="author" ngModel required>
        </label>
       
        <label>
           <input placeholder="Genre" name="genre" ngModel required>
        </label>
       <div class="buttoncontainer">
        <button type="submit">Submit</button>
      </div>
       </form>
</div>